{
    "plugins": [
        "transform-async-to-generator",
        "transform-object-rest-spread"
    ],
    "presets": [
        "flow",
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ]
}
